body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

div ul li {
    text-decoration: none;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.post-content {
    top: 0;
    left: 0;
    position: absolute;
}

.thumbnail {
    position: relative;
}

.ultimas_postagens {
    max-width: 350px;
    float: left;
    box-sizing: border-box;
}

.postagens {
    border-style: solid;
    border-width: 2px;
    margin-left: 20px;
    max-width: 350px;
    margin-bottom: 2px;
}

.rodape {
    border-top: solid;
    border-top-width: 1px;
    border-bottom: solid;
    border-bottom-width: 1px;
    background-color: #d8d8d8;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.div_postagens {
    margin: 20px;
}

.se-liga {
    background-color: #ffc533;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: table;
    padding-bottom: 15px;
}

.modal-header.se-liga-header {
    background-color: #ffc533;
    padding: 0;
    border-bottom: none;
}

.modal-header.se-liga-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-body.se-liga {
    padding-top: 0;
}

.feed-rodape {
    background-color: #000000;
    color: #fff;
    bottom: 0;
    width: 100%;
    display: table;
}

.feed-text {
    padding: 12px;
    font-style: italic;
    text-align: center;
}

.feed-title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.item_rede_social {
    display: flex;
}

.chamada-newsletter {
    text-align: center;
    font-weight: bold;
}

.texto-se-liga {
    text-align: center;
    padding: 5px;
}

.botao-cadastro {
    background-color: #009835;
    border-radius: 4px;
    font-size: 100%;
    color: #fff;
    padding: 3px 15px;
    font-weight: bold;
    background: transparent url(../img/botao_cadastro.png) no-repeat center top;
}

.page-contato {
    padding: 30px;
}

.contatos-logo {
    width: 30px;
    height: 30px;
    float: left;
    margin: 10px;
}

.contatos-texto {
    margin: auto;
    padding: 15px;
}

.logo_centro {
    width: 70%;
    height: auto;
    display: block;
    position: relative;
    padding: inherit;
    left: 10%
}

.logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.rede_social {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    float: right;
}

.cabecalho_redes {
    background-color: #282727;
    padding-right: 50px;
}

.cabecalho {
    left: 120px;
    display: flex;
    background-color: #282727;
    padding-bottom: 40px;
}
.quadro_canto{
    background-color: #282727;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    float: right;
}

.menu-chamadas {
    color: #00F;
}

.sobre-texto {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    padding: 50px;
}

.postagens-alinhamento {
    text-align: left;
}

.titulo_postagem{
    position: relative;
    padding-left: 40px;
}

.postagens-subtitulo {
    font-style: italic;
    padding-top: 20px;
    padding-left: 40px;
}

.postagens-texto {
    padding: 40px;
    line-height: inherit;
    max-width: 700px;
}

.imagens-chamadas-home {
    
}

#fonte_quadro {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0000;
}